<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YunStore - Trang quản trị</title>

    <!-- Bootstrap Core CSS -->
    <link href="../quantri/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../quantri/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Bootstrap datepicker CSS -->
    <link href="../css/datepicker-3.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../quantri/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../quantri/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../quantri/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../quantri/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <% include side_menu_header %>
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">Tài khoản</h2>
                            <div class="col-lg-12">
                                <ul class="nav nav-pills">
                                    <li class="active"><a data-toggle="tab" href="#userlist">User List</a></li>
                                    <li><a data-toggle="tab" href="#useradd">Tạo User</a></li>
                                </ul>
                                <hr>
                            </div>

                            <div class="tab-content">
                              <div class="tab-pane fade in active" id="userlist" >
                                <div class="col-lg-12">
                                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-Users">
                                        <thead>
                                            <tr>
                                                <th width="10%">Tên</th>
                                                <th width="10%">Email</th>
                                                <th width="9%">Cấp</th>
                                                <th width="9%">Sex</th>
                                                <th width="25%">Địa chỉ</th>
                                                <th width="10%">Phone</th>
                                                <th width="9%">Point</th>
                                                <th width="3%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%
                                            usersList.forEach(function(e){
                                              %>
                                                <tr>
                                                    <td>
                                                        <%= e.name %>
                                                    </td>
                                                    <td class="text-capitalize">
                                                        <a href="/admin/user_profile/<%= e.id %>">
                                                            <%= e.email %>
                                                        </a>
                                                    </td>
                                                    <td class="center">
                                                        <%= e.level %>
                                                    </td>
                                                    <td class="center">
                                                        <%= e.sex %>
                                                    </td>
                                                    <td class="center">
                                                        <%= e.address %>
                                                    </td>
                                                    <td class="center">
                                                        <%= e.phonenum %>
                                                    </td>
                                                    <td class="center">
                                                        <%= e.point %>
                                                    </td>
                                                    <td class="center">
                                                        <a class="btn btn-md btn-inline" data-toggle="modal" data-target="#<%= e.id %>">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </a>
                                                        <!-- Modal -->
                                                        <div id="<%= e.id %>" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">

                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h4 class="modal-title">Xác nhận xóa user - <%= e.email %></h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Tài khoản này sẽ bị xóa và không thể phục hồi.
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                      <form action="/admin/user_profile_delete" method="post">
                                                                          <button type="submit" class="btn btn-warning" name="btn_del_user">Xác nhận</button>
                                                                          <input type="text" class="hidden" name="id_email_del" value="<%= e.id %>">
                                                                      </form>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                              <%
                                              })
                                            %>
                                        </tbody>
                                    </table>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="useradd" >
                                <div class="col-lg-12">
                                  <form class="form-horizontal" action="/admin/user_profile_add" id="form-user-add" method="post">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tên(*):</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="username" id="username" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email:</label>
                                        <div class="col-sm-10" >
                                            <input class="form-control" type="text" name="email" id="email" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ngày sinh:</label>
                                        <div class="col-sm-10">
                                            <div id="datepicker" data-date-end-date="0d"></div>
                                            <input type="hidden" id="datepicker_dob" name="datepicker_dob">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Giới tính:</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                              <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
                                                  Nam
                                            </label>
                                            <label class="radio-inline">
                                              <input type="radio" name="sex" id="inlineCheckbox2" value="female" checked />
                                                  Nữ
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Địa chỉ:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="diachi" id="diachi" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Phone:</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="dtdidong" id="dtdidong" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Level:</label>
                                        <div class="col-sm-10" style="margin-top: 8px;">
                                            <select name="user_level" id="user_level" >
                                              <option value=""> Chọn cấp </option>
                                              <option value="1"> 1 </option>
                                              <option value="2"> 2 </option>
                                              <option value="3"> 3 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Password:</label>
                                        <div class="col-sm-10" >
                                            <input class="form-control" type="password" name="passwd" id="passwd" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Re Password:</label>
                                        <div class="col-sm-10" >
                                            <input class="form-control" type="password" name="reenterpasswd" id="reenterpasswd" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Point:</label>
                                        <div class="col-sm-10" >
                                            <input class="form-control" type="text" name="point" id="point" value="0" />
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group pull-right">
                                      <button class="info_cus btn btn-md btn-primary" type="submit" id="btn_luu" >
                                          <i class="glyphicon glyphicon-floppy-saved"></i> Lưu
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- /.col-lg-12  -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End Page Content -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../quantri/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/validator/jquery.validate.js"></script>

    <!-- datepicker -->
    <script src="../js/bootstrap-datepicker.min.js"></script>
    <script src="../js/bootstrap-datepicker.vi.min.js"></script>

    <!-- jQuery dataFormat -->
    <script src="../js/jquery-dateFormat.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../quantri/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../quantri/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../quantri/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../quantri/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../quantri/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../quantri/dist/js/sb-admin-2.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#dataTables-Users').DataTable({
                responsive: true
            });

            // $("#email").on('blur', function(e) {
            //   var $this = $(this);
            //   $.get(`/admin/check_new_email/${$("#email").val()}`, data => {
            //     if (data == 1) {
            //
            //       $("#email-matched").text("fail");
            //     } else {
            //       $("#email-matched").text("");
            //     }
            //   })
            // });

            $('#datepicker').datepicker({
                language: "vi",
                format: 'yyyy/mm/dd',
                startDate: '1950/01/01',
            });
            $('#datepicker_dob').val($.format.date(new Date(), 'yyyy/MM/dd'));
            $('#datepicker').on('changeDate', function() {
                $('#datepicker_dob').val(
                    $('#datepicker').datepicker('getFormattedDate')
                );
            });

            // add the rule here
            $.validator.addMethod("valueNotEquals", function(value, element, arg){
              return arg != value;
            }, "Chưa chọn cấp người dùng.");

            // validator
            $("#form-user-add").validate({
              onkeyup: false,
              rules: {
                username: {
                  required: true,
                  minlength: 3
                },
                dtdidong: {
                  required: true,
                  minlength: 9,
                  maxlength: 12,
                  digits: true
                },
                email: {
                  required: true,
                  email: true,
                  minlength: 10,
                  remote: {
                    url: "/admin/check_new_email",
                    type: "post",
                    data: {
                      email: function() {
                        return  $("#email").val();
                      }
                    }
                  }
                },
                user_level: {
                  required: true,
                  valueNotEquals: ""
                },
                passwd: {
                  required: true,
                  minlength: 3
                },
                reenterpasswd: {
                  required: true,
                  minlength: 3,
                  equalTo: "#passwd"
                },
                point: {
                  required: true,
                  digits: true
                }
              },
              messages: {
                username: {
                  required: "Chưa nhập tên khách hàng",
                  minlength: "Tối thiểu 3 ký tự"
                },
                dtdidong: {
                  required: "Chưa nhập số điện thoại",
                  minlength: "Tối thiểu 9 chữ số",
                  maxlength: "Tối đa 15 chữ số",
                  digits: "Kiểu dữ liệu không hợp lệ"
                },
                email: {
                  required: "Chưa nhập email",
                  email: "Địa chỉ email không hợp lệ",
                  minlength: "Tối thiểu 10 ký tự",
                  remote: "Email đã sử dụng"
                  //remote: jQuery.validator.format("{0} is already taken.")
                },
                user_level: "Chưa chọn level người dùng",
                passwd: {
                  required: "Chưa nhập mật khẩu",
                  minlength: "Tối thiểu 3 ký tự"
                },
                reenterpasswd: {
                  required: "Chưa nhập lại mật khẩu",
                  minlength: "Tối thiểu 3 ký tự",
                  equalTo: "Mật khẩu không trùng khớp"
                },
                point: {
                  required: "Chưa nhập điểm",
                  digits: "Dữ liệu không hợp lệ"
                }
              },
              errorElement: "em",
              errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                // Add `has-feedback` class to the parent div.form-group
                // in order to add icons to inputs
                element.parents( ".col-sm-10" ).addClass( "has-feedback" );

                error.insertAfter( element );

                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !element.next( "span" )[ 0 ] ) {
                  $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
                }
              },
              success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                  $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
              },
              highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-10" ).addClass( "has-error" ).removeClass( "has-success" );
                $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
              },
              unhighlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-10" ).addClass( "has-success" ).removeClass( "has-error" );
                $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
              }
            });

        })
    </script>

</body>

</html>
